amqp==5.3.1
asgiref==3.8.1
billiard==4.2.4
celery==5.6.3
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==5.2
django-dotenv==1.4.2
django-jazzmin==3.0.1
django-querycount==0.8.3
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.10
flower==2.0.1
humanize==4.16.0
idna==3.18
inflection==0.5.1
kombu==5.6.2
packaging==25.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.0
pytz==2025.2
PyYAML==6.0.2
redis==8.0.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.3
tornado==6.5.7
tzdata==2025.2
tzlocal==5.4.4
uritemplate==4.1.1
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
